<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>

        <%block name="pagecontent">
            <section class="about-content" lang="ka">
                <div class="container">
                    <p>
                        სსიპ - მასწავლებელთა პროფესიული განვითარების ეროვნული ცენტრის მთავარი მიზანია
                        სწავლა-სწავლების ხარისხის გაუმჯობესება ბენეფიციართა პროფესიული ცოდნის
                        განვითარებისა და მაღალი სტანდარტების დანერგვის გზით.
                    </p>

                    <p>
                        აღნიშნული მიზნის მისაღწევად, Open edX-ის პლატფორმაზე შემოგთავაზებთ კურსის ინსტრუქტორის მიერ წარმართულ 
                        და თვითრეგულირებად ონლაინ კურსებს, რომლებიც შექმნილია ცენტრის ბენეფიციარებისთვის, მათი პროფესიული 
                        განვითარების ხელშეწყობისა და სწავლების პროცესში მოქნილი შესაძლებლობების უზრუნველსაყოფად.
                    </p>
                </div>
            </section>
        </%block>

        <!-- NEW IN INDIGO: add graphic image -->
        <div class="graphic-img">
            <img src="${static.url('images/about.svg')}" alt="Runs on Tutor" />
            <img class="dark" src="${static.url('images/about-dark.svg')}" alt="Runs on Tutor" />
        </div>
    </section>
</main>
