<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Terms of Service")}</%block>
        </h1>

        <%block name="pagecontent">
            <section class="tos-content" lang="ka">
                <div class="container">
                    <p>
                        წინამდებარე პირობები არეგულირებს TPDCx პლატფორმაზე სსიპ - მასწავლებელთა
                        პროფესიული განვითარების ეროვნული ცენტრის მიერ შეთავაზებული კურსებით
                        სარგებლობის წესებსა და პირობებს.
                    </p>

                    <p>
                        კურსებში მონაწილეობა უფასოა და ხელმისაწვდომია ცენტრის ყველა ბენეფიციარისთვის.
                    </p>

                    <p>
                        კურსის მასალები, მათ შორის ვიდეოები, ტექსტები და დავალებები, განკუთვნილია
                        მხოლოდ საგანმანათლებლო მიზნებისთვის. მომხმარებელი ვალდებულია კეთილსინდისიერად
                        გაიაროს კურსი, დამოუკიდებლად შეასრულოს დავალებები.
                    </p>

                    <p>
                        მასალების კომერციული მიზნებისთვის გამოყენება ან გავრცელება აკრძალულია.
                    </p>

                    <p>
                        ცენტრი იტოვებს უფლებას, ნებისმიერ დროს განაახლოს კურსის შინაარსი ან შეცვალოს
                        მომსახურების პირობები.
                    </p>
                </div>
            </section>
        </%block>

        <!-- NEW IN INDIGO: add graphic image -->
        <div class="graphic-img">
            <img src="${static.url('images/tos.svg')}" alt="Runs on Tutor" />
            <img class="dark" src="${static.url('images/tos-dark.svg')}" alt="Runs on Tutor" />
        </div>
    </section>
</main>
